body{
  background-color: lightyellow;
}
#cent{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
#itemName{
  text-align: center;
  align-items: center;
  margin: 0px auto;
}
img{
  border-radius: 5px;
  width: 204px;
  height: 112px;
}
.ima{
  text-align: center;
  width: 204px;
  border: lightgreen solid 5px;
  border-radius: 10px;
  margin: 0 auto;
  height: 112px;
}
